.chatContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chatHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1.5rem;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--secondary-bg-color);
  flex-shrink: 0;
}

.modelName {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-xl);
  color: var(--text-color);
  margin: 0;
}

.chatArea {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.messagePlaceholder {
  min-height: 100px;
  width: 100%;
}

.inputArea {
  padding: 1rem 1.5rem;

  /* border-top: 1px solid var(--border-color); */

  /* background-color: var(--secondary-bg-color); */
  flex-shrink: 0;
}

.metricsPlaceholder,
.inputPlaceholder,
.controlsPlaceholder {
  min-height: 30px;
} 